.containerArticles
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(246px, 1fr))
    gap: 20px
    width: 100%

.paragrafoNaoEncontrado
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
